@import '../../../assets/styles/common/common';

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: $white;
  gap: 20px;
}

.trophy {
  width: 140px;
}
