@import '../../../assets/styles/common/common';

.button1 {
  background-color: $tercery;
  border: 1px solid transparent;
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 60px;

  &:active,
  &:focus {
    outline: none;
  }
}

.button2 {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 60px;

  &:active,
  &:focus {
    outline: none;
  }
}
