@import '../../../assets/styles/common/common';

.main {
  background-color: $tercery;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px 60px;

  &:active,
  &:focus {
    outline: none;
  }
}
