@import '../../../assets/styles/common/common';

.main {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.inner {
  width: calc(100% - 300px);
}

.title {
  text-align: center;
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  color: $white;
}

.cards-hand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 70px;
  // grid-gap: 10px;

  .card-wrapper {
    cursor: pointer;
  }
}
