@import '../../../assets/styles/common/common';

.main {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  width: calc(100% - 300px);
}

.title {
  text-align: center;
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  color: $white;
}

.cards-hand {
  display: flex;
  justify-content: center;
  align-items: center;

  .card-wrapper {
    cursor: pointer;
  }
}

.cta {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
