@import '../../../assets/styles/common/common';

.main {
  background-color: $secondary;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    display: flex;
    flex-direction: column;

    .cta {
      text-align: center;
    }
  }
}
