@import '../../../assets/styles/common/common';

.main {
  background-color: $secondary;
  color: #fff;
  margin-left: auto;
  width: 300px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.logo {
  width: 200px;
  margin: 20px auto;
  img {
    width: 100%;
  }
}

.players {
  padding: 0 20px;

  .player {
    margin-bottom: 20px;
  }

  li {
    display: flex;

    span {
      margin-left: auto;
    }
  }

  .name {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    .player-icon {
      height: 20px;
      margin-right: 10px;
    }

    span {
      margin-left: 0;
    }
  }
}
