@import '../../../assets/styles/common/common';

.main {
  background-color: $grey;
  width: calc(100% - 300px);
  color: #fff;
  display: flex;
  flex-direction: column;

  .top {
    flex-grow: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom {
    flex-grow: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
