@import '../../../assets/styles/common/common';

.main {
  background-color: $grey;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;

  .top {
    flex-grow: 1;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    flex-grow: 1;
    height: 50%;
  }
}
